<h1>{{ test }}</h1>
<input type='text' [(ngModel)]='test'>
<button (click)='logBinding()'>Click to console log the databind</button>

<div style='display: flex; flex-direction: row'>
    <div>
    <button (click)='showFilms()'>Push to Display Films</button>
    <h1>Films</h1>

        <ul *ngFor='let film of films'>
            <li> {{ film.title }} </li>
        </ul>
    </div>

    <div>
        <button (click)='showShips()'>Push to Display Ships</button>
        <h1>Ships</h1>

        <ul *ngFor='let ship of ships'>
            <li>{{ ship.name }}</li>
        </ul>
    </div>

    <div>
        <button (click)='showPeople()'>Push to Display People</button>
        <h1>People</h1>

        <ul *ngFor='let person of person'>
            <li style='color: white;'> {{ person.name }}</li>
        </ul>
    </div>
</div>
