<form style="text-align: center;">
<label style="font-size: 1.8em;" class="label" for="genre">Search: </label>
    <select 
        class="selector"
        style="width: 10vw; height: 3vh; margin: 0.5em; color: goldenrod; background-color: black;"
        name="selector"
        required
    >
    <option>Films</option>
    <option>People</option>
    <option>Starships</option>
    </select>
    <br />
    <input 
        class="searchData"
        style="height: 3vh; width: 10vw; background-color: black; color: goldenrod; margin: 3px;"
        type="text"
        name="searchData"
        required
    >
    <button
    (click)='showFilms()'
    style="width: fit-content; height: 3vh; border-radius: 5px; color: goldenrod; background-color: black;"
    [disabled]="!useBtn"
    type="submit"
    >
    {{ useBtn === false ? "Choose An Option" : "Ad Astra" }}
    </button>
</form>